---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ postgresql_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ postgresql_cluster_name }}-superuser
  namespace: {{ postgresql_namespace }}
type: kubernetes.io/basic-auth
stringData:
  username: postgres
  password: {{ postgres_superuser_password | trim | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ postgresql_cluster_name }}-app
  namespace: {{ postgresql_namespace }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ postgresql_app_user }}
  password: {{ postgres_app_password | trim | to_json }}
