[defaults]
inventory = inventory/production/hosts.ini
roles_path = roles:kubespray/roles
library = kubespray/library
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections
timeout = 300
remote_user = root
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
pipelining = True

[inventory]
ignore_patterns = artifacts, credentials
